*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.workspace{
    width: 1440px;
    height: auto;
    background: #FFFFFE;
    margin: 0 auto;
    position: relative;
    padding-top: 86px;
    box-sizing: border-box;
}

.navbar{
    width: 1440px;
    height: 86px;
    background: #EFF0F3;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}
.nav-container{
    width: 100%;
    height: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    margin: 0 auto;
}

h1{
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #001858;
    font-size: 36px;
    font-weight: 600;
    gap: 50px;
}

.blog{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 0.5em;
    vertical-align: middle;
    color: #6246EA;
}

.logo{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #bd4545;
    margin-right: 300px;
}

.menu{
    display: flex;
    align-items: center;
    gap: 50px;
}

.menu-item{
    margin-right: 50px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #2B2C34;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    text-decoration: none;
}

.search-text{
    margin-right: 50px;
    color: #2B2C34;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    text-transform: capitalize;
}

.search-icons{
    width: 17px;
    height: 17px;
    flex-shrink: 0;
}

.coffee-icon{
    margin-right: 10px;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.coffee-button{
    display: flex;
    padding: 10px 17px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #6246EA;
    color: #FFFFFE;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.hero-section{
    width: 1440px;
    height: 900px;
    display: flex;
    position: relative;
}

.hero-content{
    width: 870px;
    padding-left: 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.hero-title{
    margin-bottom: 30px;
    color: #2B2C34;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.hero-description{
    display: flex;
    gap: 20px;
}

.vertical-line{
    margin-right: 12px;
    width: 3px;
    height: 56px;
    background: #2B2C34;
}

.text-block{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.description-text{
    margin-bottom: 30px;
    color: #9A9494;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subscription-form{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.image-placeholder{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.email-input{
    width: 444px;
    height: 67px;
    padding: 21px 25px;
    border-radius: 8px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.subscribe-button-top{
    margin-left: 20px;
    display: flex;
    height: 67px;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 8px;
    background: #6246EA;
    color: #FFFFFE;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.hero-image{
    width: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    margin-left: auto;
}

.categories-section{
    background: #EFF0F3;
    width: 1440px;
    height: 500px;
    margin: 0 auto;
    padding: 0 96px;
}

.categories-header{
    display: flex;
    width: 100%;
    height: 35px;
    padding: 2px 0 3px 0;
    justify-content: space-between;
    align-items: center;
}

.categories-title{
    margin-top: 67px;
    color: #2B2C34;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.categories-link{
    margin-top: 50px;
    color: #2B2C34;
    text-align: right;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    text-decoration: none;
}

.categories-grid{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    flex-wrap: wrap;
    row-gap: 68px;
}

.category-card{
    margin-top: 50px;
    width: 220px;
    height: 280px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFFFFE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.blue-card{
    background: #6246EA;
}

.category-icon{
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50%;
    position: absolute;
    top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-60%, -50%);
}

.category-name{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #2B2C34;
    position: absolute;
    bottom: 80px;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    left: -25px;
}

.articles-main{
    width: 1250px;
    margin: 68px auto 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.articles-header{
    display: flex;
    width: 1250px;
    height: 35px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.section-title{
    margin-top: 60px;
    color: #2B2C34;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.see-all-button{
    margin-right: 10px;
    margin-top: 50px;
    color: #2B2C34;
    text-align: right;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    text-decoration: none;
}

.articles-row{
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.article-card{
    height: 425px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 8px;
}

.article-card-8{
    width: 300px;
    height: 425px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
}

.article-text{
    margin: 25px 0 30px;
    width: 260px;
    color: #2B2C34;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.article-card-1{
    width: 300px;
    height: 425px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}
.article-card-3{
    width: 300px;
    height: 425px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
}

.article-card-11{
    width: 300px;
    height: 425px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
}

.article-text .article-card-3 .article-card-8 .article-card-11{
    color: #2B2C34;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.article-card-10{
    width: 300px;
    height: 425px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
}

.article-text .article-card-1 .article-card-10 {
    margin: 25px 0 80px 0;
    width: 260px;
    color: #2B2C34;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.article-card-16{
    width: 300px;
    height: 425px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.article-image{
    width: 260px;
    height: 198px;
    background: #f0f0f0;
    margin: 0 auto;
}

.article-content{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.article-author{
    width: 260px;
    height: 57px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.author-photo{
    width: 57px;
    height: 57px;
    border-radius: 57px;
}

.author-info{
    margin-left: 15px;
    flex-grow: 1;
}

.author-name{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.article-date{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
    color: #777;
}

.more-articles-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0 0;
}

.more-articles-button{
    margin: 80px 0 80px;
    padding: 20px 23px;
    border: none;
    border-radius: 8px;
    background: #6246EA;
    color: #FFFFFE;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    cursor: pointer;
    transition: background 0.3s;
}

.subscribe-section{
    background:  #EFF0F3;
    padding: 100px 95px;
}

.subscribe-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.subscribe-container{
    width: 667px;
    height: 337px;
    position: relative;
    padding-top: 65px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.subscribe-avatar{
    width: 130px;
    height: 130px;
    flex-shrink: 0;
    border-radius: 50%;
    background: #FFFFFE;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.subscribe-bottom{
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    box-sizing: border-box;
}

.subscribe-title{
    margin-top: 30px;
    color: #2B2C34;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.subscribe-subtitle{
    margin: 10px 0 30px;
    color: #C0C0C0;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subscribe-section .email-input{
    width: 444px;
    height: 67px;
    padding: 21px 25px;
    border: 1px solid #C0C0C0;
    color: #C0C0C0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.subscribe-section .subscribe-button{
    margin-left: 20px;
    display: flex;
    height: 67px;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 8px;
    background: #6246EA;
    color: #FFFFFE;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.footer{
    width: 1440px;
    height: 453px;
    background: #E4E5E9;
    margin: 0 auto;
    padding: 80px 95px;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}

.footer-container{
    width: 100%;
    display: flex;
}

.footer-left{
    margin-bottom: 200px;
    margin-right: 160px;
    width: 284px;
    height: 138px;
    display: flex;
    flex-direction: column;
}

.footer-columns{
    display: flex;
    gap: 95px;
    justify-content: flex-end;
}

.footer-column{
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.column-title{
    margin-bottom: 25px;
    color: #2B2C34;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.footer-link{
    margin-bottom: 20px;
    color: #2B2C34;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.footer-author{
    margin: 20px 0px 20px 0;
    width: 284px;
    color: #2B2C34;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-socials{
    display: flex;
    gap: 30px;
}

.social-icon{
    margin-right: 30px;
}

.footer-bottom{
    width: 100%;
    position: absolute;
    bottom: 40px;
    left: 0;
}

.footer-line{
    margin-top: 90px;
    margin-left: 90px;
    width: 100%;
    max-width: 1250px;
    height: 2px;
    background: #C0C0C0;
}

.footer-copyright{
    margin-left: 90px;
    color: #2B2C34;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}